<div class="row">
	<% @products.each do |product| %>
		<div class=" ms-5 card " style="width: 16rem;">
			<% wishlist = current_user.wishlist %>
			<% if wishlist.present? && wishlist.wishlist_items.find_by(product_id: product.id).present? %>
				<%= link_to wishlist_path(id: wishlist.id, product_id: product.id), data: {turbo_method: :delete} do %>
					<i class="bi bi-heart-fill text-danger" style=" position: absolute; top: -4px; right: 3px; z-index: 1; font-size:25px;"></i>
				<% end %>
			<% else %>	
				<%= link_to wishlists_path(product_id: product.id), data: { turbo_method: "post" } do %>
				<i class="bi bi-heart text-danger" style=" position: absolute; top: -4px; right: 3px; z-index: 1; font-size:25px;"></i>
				<% end %>
			<% end %>
			<div class="card-body text-center">
			  <% if product.cover.present? %>
			  	<%= link_to (image_tag product.cover, :size => '195x160'), product_path(id: product.id) %>
			  <% end %>
		    <h5 class="card-title"><%= product.name %></h5>
		    <p class="card-text"><%= product.price %> INR</p>
		    <% cart = current_user.carts.find_by(status: 'in_cart') %>
		    <% if cart.present? && cart.product_carts.find_by(product_id: product.id).present? %>
		    	<%= link_to "Go to Cart", cart_path(id: cart.id) ,class: "btn btn-success" %>
		    <% elsif product.stock <= 0 %>
		    	<a><%= link_to "Notify Me", notify_users_path(product_id:product.id, user_id: current_user.id ) ,class: "btn btn-success #{'disabled' if product.notify_users.where(user_id: current_user.id, product_id: product.id).present?}", data: { turbo_method: "post" }  %></a>
		    <% else  %>
		    	<%= link_to "Add To Cart", carts_path(product_id: product.id),class: "btn btn-success " %>
		    <% end %>
		  </div>  
		</div>
	<% end %>
</div>

